src/test/resources/user_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ /*
  ~ Copyright (c) 2025 Evolveum and contributors
  ~
  ~ Licensed under the EUPL-1.2 or later.
  ~  */
  -->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<!--
  Copyright (C) 2010-2025 Evolveum and contributors
  
  Licensed under the EUPL-1.2 or later.
-->
    <xs:element name="user">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:integer"/>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="email" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>